{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducir Datos</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <h2>Introducir Datos</h2>
        <form id="dataForm" action="{% url 'process_request' %}" method="post">
            {% csrf_token %}
            <label for="palabra">Palabra:</label>
            <input type="text" id="palabra" name="palabra" required>

            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>

            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required>

            <button type="submit">Enviar</button>
        </form>
        <a href="{% url 'word_cloud_results' %}" class="link-button">Ver Word Cloud</a>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
