{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Cloud</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-wordcloud"></script>
    <link rel="stylesheet" href="{% static 'css/word_cloud.css' %}">
</head>
<body>
    <h1>Nube de Palabras</h1>
    <canvas id="cloudMapChart"></canvas>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var data = JSON.parse('{{ data|safe }}');

            var transformedData = data.map(function(item) {
                return {
                    text: item.text,
                    size: Math.sqrt(item.size) * 0.02
                };
            });

            var labels = transformedData.map(function(item) {
                return item.text;
            });

            var values = transformedData.map(function(item) {
                return item.size;
            });

            var config = {
                type: 'wordCloud',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Frecuencia de Palabras',
                        data: values
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            enabled: false
                        },
                        wordcloud: {
                            font: 'Roboto, sans-serif',
                            fontSizeMin: 12,
                            fontSizeMax: 60,
                            rotation: {
                                min: 0,
                                max: 0
                            },
                            spiral: 'rectangular',
                            padding: 5,
                        }
                    }
                }
            };

            var ctx = document.getElementById('cloudMapChart').getContext('2d');
            var cloudMapChart = new Chart(ctx, config);

            function checkForUpdates() {
                fetch('/polling_endpoint/word_cloud/')
                    .then(response => response.json())
                    .then(data => {
                        updateWordCloudPage(data.data);
                    })
                    .catch(error => console.error('Error al obtener datos:', error));
            }

            function updateWordCloudPage(data) {
                console.log('Datos actualizados para word cloud:', data);

                var transformedData = data.map(function(item) {
                var parts = item.trim().split(','); 
                if (parts.length !== 2) return null;

                var text = parts[0].trim();
                var size = parseFloat(parts[1].trim());

                return {
                    text: text,
                    size: Math.sqrt(size) * 0.02
                };
            }).filter(function(item) {
                return item !== null;
            });

            cloudMapChart.data.labels = transformedData.map(function(item) {
                return item.text;
            });

            cloudMapChart.data.datasets[0].data = transformedData.map(function(item) {
                return item.size;
            });

           cloudMapChart.update(); 
        }

            setInterval(checkForUpdates, 1200000); // 10 minutos
        });
    </script>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>

